	#no_product_found{
		color: rgb(51,122,183);
	}
	
	#h4{
		text-align: left;	
	}
	
	#profilbuttondiv{
			margin-bottom:50px;
			margin-top:0px;
	}

	.container {
		display: table;
		vertical-align: middle;
	}
	.vertical-center-row {
		display: table-cell;
		vertical-align: middle;
	}  

	.whitebluebutton{
		margin: 8px 0px 8px 1px;  
		background-color: white;
		color: rgb(51,122,183);
		font-weight: bold;
	}

	.navbar{
		height:auto;
	}

	.bluewhitebutton{
		margin: 8px 0px 8px 1px;  
		background-color: rgb(51,122,183);
		color: white;
		font-weight: bold;
	} 

	#descr_length{
		margin-top:0px;

	}

	.bluewhitebuttoncat{
		background-color: white;
		color: rgb(51,122,183);
		width:98%;
		font-weight: bold;
		font-size:110%;	
		margin-top:5px;
		margin-bottom:5px;
	}
	
	.bg-primary{
		background:white;
	}

	.dropdown-menu{
		background-color: rgb(51,122,183);
		margin: 0px 0px 0px 0px;
		height:auto;
		width:100%;
	}

	#navbarbtn1{
		padding: 8px;
		width: 100px; 
	}
	
	.btn-div{
		margin-top:1%;
	}

	#navbarbtn2{
		padding: 8px;
		width: 65px;
	}	

	#bt_login,#bt_register{
		width: 100%;
	}

	
	#categoriedropdown{
		width: 100%; 	
		background-color: rgb(51,122,183); 
		color: white;
		font-weight: bold;
		font-size: 150%;
		margin: 0 0 10px 0;	
	}

	.icon-bar .navbar-toggle .navbar-inverse{
		background-color: rgb(51,122,183);
		border-color: rgb(51,122,183);
	}

	#profilbild{
		margin-bottom:25px;
	}

	.row{
		margin: 0px 1% 0px 1%;
	}

	.categories{
		background-color: rgb(51,122,183);
		padding-top:10px;
		width:100%;
	}


	textarea {
   		resize: none;
		word-wrap: break-word;	
	}

	div{
		word-wrap:break-word;
	}

	footer{
		background-color: rgb(51,122,183);
	}

	footer a {
		color: white;
		cursor: pointer;
    	cursor: hand;
	}

	@media only screen and (max-width: 768px) {
		#navbar button{
			display:block;
		}

		#navbar{
		    float:left;	
		}
	}

	@media only screen and (min-width: 768px) {
		#navbar{
		    float:right;	
		}

	}

	@media only screen and (max-width: 365px) {

		#navbarlogo{
			display: none;
		}

		#navbarlogo2{
			 width: 35px;
			 height: 35px; 
			 margin-top:7.7px;
			 margin-left:0;
		}	 
	}

	@media only screen and (min-width: 365px) {
		 #navbarlogo2{
			 display: none;
		 }		 
	}