.div_preview {
    width: 250px;
    height: 250px;    
    border-radius: 125px; 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
}

.img_preview {
    position: absolute;
}

#div_upload {
    width: 290px;
    border: 1px solid;
    padding: 0px 0px 20px 20px;
    margin-top: 30px;
    margin-left: 1px;
    float: left;
}

#bt_browse,#bt_upload,#bt_browse_myproduct,#bt_upload_myproduct,#bt_browse_profil,#bt_upload_profil{
	width: 49%;
}

#bt_delete_myproduct {
    width: 49%;
    margin-left: 25.5%;
    margin-top: 10px;
}

.div_upload_buttons {
    padding-top: 280px;
}

#file, #file_myproduct, #file_profil {
    display: none;
}

#uploadsuccessalert, #uploadinfoalert{
    margin-top: -190px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

main {
    margin: 200px 0px 0px 50px;
}

.pics_main {
    height: 280px;
    width:  280px;
    border-radius: 140px;
    margin-bottom: 80px;
    cursor: pointer;
    cursor: hand;
}

#profilbeschreibung {
    margin-bottom: 50px;
}

#profilbild, #img_show_profil{
    width: 200px;
    height: 200px;
}

#navbarbtn1 {
    width: 130px;
}

.alert {
    margin-top: 20px;
}

#bt_new_product {
    height: 250px;
    width:  250px;
    margin-bottom: 80px;
}

#show_product_username {
    cursor: pointer;
    cursor: hand;
}