#div_preview {
    width: 250px;
    height: 230px;
    border: 1px solid;
    position: absolute;
}

#img_preview {
    position: absolute;
}

#div_upload {
    width: 290px;
    border: 1px solid;
    padding: 0px 0px 20px 20px;
    margin-top: 30px;
    margin-left: 1px;
    float: left;
}

#div_upload_buttons {
    padding-top: 240px;
}

#file {
    display: none;
}

#uploadsuccessalert, #uploadinfoalert{
    margin-top: -190px;
    margin-left: 290px;
    float: left;
}

main {
    margin: 200px 0px 0px 50px;
}

.pics_main {
    height: 250px;
    width: 250px;
    border-radius: 1250px;
}